* {
    box-sizing: border-box;
}

body {
    transition: all 0.3s ease-in-out;
    padding: 0;
    margin: 0;
    background-color: #fff;
    color: #000;
}

.dark-mode {
    background-color: #000;
    color: #fff;
}